.btn {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 10rem;
  transition: all 0.2s;

  // Change for the button element
  border: none;
  cursor: pointer;


  &--white {
    color: $colorMidnightBlue;
    background-color: $colorCloud;
  }

  &--blue {
    color: $colorCloud;
    background-color: $colorPeterRiver;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-0.1rem);
    outline: none;
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $colorBelizeHole;
    display: inline-block;
    font-size: $default-font-size;
    border-bottom: 1px solid $colorBelizeHole;
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    background-color: $colorBelizeHole;
    color: white;
    box-shadow: 0 1rem 2rem rgba($colorMidnightBlue, 0.2);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($colorMidnightBlue, 0.2);
    transform: translateY(0px);

  }
}