.card {
  perspective: 150rem;
  position: relative;
  height: 51rem;

  &__side {
    color: $colorAsbestos;
    height: 51rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color: $colorMidnightBlue, $alpha: 0.2);

    &--front {
      background-color: $colorCloud;
    }

    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $colorPeterRiver,
          $colorWetAsphalt
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $colorSunFlower,
          $colorPumpkin
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $colorTurquoise,
          $colorNephritis
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  // Frontside styling
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $colorPeterRiver,
          $colorWetAsphalt
        ),
        url(../../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        $colorSunFlower,
        $colorPumpkin
      ),url(../../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        $colorTurquoise,
        $colorNephritis
      ),url(../../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $colorCloud;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to bottom right,
        rgba($colorPeterRiver, 0.8),
        rgba($colorWetAsphalt, 0.8)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to bottom right,
        rgba($colorSunFlower, 0.8),
        rgba($colorPumpkin, 0.8)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to bottom right,
        rgba($colorTurquoise, 0.8),
        rgba($colorNephritis, 0.8)
      );
    }
  }

  &__details {
      color: $colorMidnightBlue;
      padding: 3rem;
      ul{
          width: 80%;
          margin: 0 auto;

        li{

            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;

            &:not(:last-child) {
                border-bottom: 1px solid #cccccc;
            }

        }
      }
  }
  // Backside Styling

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__price-box{
    text-align: center;
    margin-bottom: 7rem;
    color: $colorCloud;

  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;

  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}
